/**
/** Buttons
a.button,
button.button,
input.button,
#respond input#submit
  @extend .btn__default
  @extend .btn__secondary

  &.checkout
    @extend .btn__primary

  &.loading
    opacity: 0.25
    padding-right: 2.618em

    &::after
      font-family: 'WooCommerce'
      content: '\e01c'
      vertical-align: top
      -webkit-font-smoothing: antialiased
      font-weight: 400
      position: absolute
      top: 0.618em
      right: 1em
      animation: spin 2s linear infinite

  &.added::after
    font-family: 'WooCommerce'
    content: '\e017'
    margin-left: 0.53em
    vertical-align: bottom

  &.alt
    @extend .btn__default
    @extend .btn__primary

    &.disabled,
    &:disabled,
    &:disabled[disabled],
    &.disabled:hover,
    &:disabled:hover,
    &:disabled[disabled]:hover
      background-color: $gray-100
      color: $gray-400

  &:disabled,
  &.disabled,
  &:disabled[disabled]
    color: $gray-400
    cursor: not-allowed
    opacity: 0.5

    &:hover
      color: $gray-400
      background-color: $gray-100

  &.add_to_cart_button
    @extend .btn__primary
    width: 100%

    &.added
      @extend .btn__secondary
      width: 54%
      padding: 15px 0px

      &::after
        color: $green

.cart .button,
.cart input.button
  float: none

a.added_to_cart
  @extend .btn__default
  @extend .btn__primary
  width: 43%
  padding: 15px 0px
  white-space: nowrap
  display: inline-block
