/**
/** Cart/checkout page
.checkout.woocommerce-checkout
  +breakpoint($tablet-landscape-up)
    padding: 25px

.woocommerce-cart,
.woocommerce-checkout,
#add_payment_method

  #order_review_heading
    clear: both

  table.cart
    .product-thumbnail
      min-width: 32px

    img
      width: 32px
      box-shadow: none

    th,
    td
      vertical-align: middle



    td.actions
      background: $gray-100
      overflow: auto
      .coupon
        float: none
        +breakpoint($tablet-portrait-up)
          float: left

        label
          display: none

        .input-text
          width: 100%
          margin-bottom: 10px
          @extend .form-control
          +breakpoint($tablet-portrait-up)
            width: auto

      .button
        width: 100%
        float: none
        margin-bottom: 10px
        +breakpoint($tablet-portrait-up)
          width: auto

        &[name="update_cart"]
          @extend .btn__primary
          +breakpoint($tablet-portrait-up)
            width: auto
            float: right

    input
      margin: 0
      vertical-align: middle

  .wc-proceed-to-checkout
    +clearfix

    padding: 1em 0

    a.checkout-button
      display: block
      text-align: center
      margin-bottom: 1em
      font-size: 1.25em
      padding: 1em

  .cart-collaterals
    .shipping_calculator
      .button
        width: 100%
        float: none
        display: block

      .shipping-calculator-button::after
        +iconafter("")

    .cart_totals
      +push(0 of 12)
      +span(12 of 12)
      +breakpoint($tablet-portrait-up)
        +push(6 of 12)
        +span(6 of 12 last)

      p small
        color: $subtext
        font-size: 0.83em

      table
        border-collapse: separate
        margin: 0 0 6px
        padding: 0

        tr:first-child
          th,
          td
            border-top: 0

        th
          width: 40%

        td,
        th
          vertical-align: top
          border-left: 0
          border-right: 0
          line-height: 1.5em

        small
          color: $subtext

        select
          width: 100%

      .discount td
        color: $highlight

      tr td,
      tr th
        border-top: 1px solid $secondary

    .cross-sells ul.products
      background: $gray-50
      padding: 10px
      border-radius: 5px

      li.product
        border-radius: 5px
        background: white
        padding: 10px
        margin-left: 10px
        margin-top: 10px
        margin-bottom: 10px


  .checkout
    .col-2
      h3#ship-to-different-address
        float: left
        clear: none

      .notes
        clear: left

      .form-row-first
        clear: left

    .create-account small
      font-size: 11px
      color: $subtext
      font-weight: normal

    div.shipping-address
      padding: 0
      clear: left
      width: 100%

    .shipping_address
      clear: both

  #payment
    background: $gray-50
    border-radius: 5px

    div.form-row.place-order
      background: white
      padding: 25px 0

      input.button.alt
        @extend .btn__large
        width: 100%
        +breakpoint($tablet-portrait-up)
          width: auto

    ul.payment_methods
      +clearfix

      text-align: left
      padding: 1em
      border-bottom: 1px solid $gray-100
      margin: 0
      list-style: none outside

      li
        line-height: 2
        text-align: left
        margin: 0
        font-weight: normal

        input
          margin: 0 1em 0 0

        img
          vertical-align: middle
          margin: -2px 0 0 0.5em
          padding: 0
          position: relative
          box-shadow: none

        img + img
          margin-left: 2px

      li:not(.woocommerce-notice)
        +clearfix

    div.form-row
      padding: 1em

    div.payment_box
      position: relative
      box-sizing: border-box
      width: 100%
      padding: 1em
      margin: 1em 0
      font-size: 0.92em
      border-radius: 2px
      line-height: 1.5
      background-color: darken($secondary, 5%)
      color: $secondarytext

      input.input-text, textarea
        border-color: darken($secondary, 15%)
        border-top-color: darken($secondary, 20%)

      \::-webkit-input-placeholder
        color: darken($secondary, 20%)

      \:-moz-placeholder
        color: darken($secondary, 20%)

      \:-ms-input-placeholder
        color: darken($secondary, 20%)

      .woocommerce-SavedPaymentMethods
        list-style: none outside
        margin: 0

        .woocommerce-SavedPaymentMethods-token,
        .woocommerce-SavedPaymentMethods-new
          margin: 0 0 0.5em

          label
            cursor: pointer

        .woocommerce-SavedPaymentMethods-tokenInput
          vertical-align: middle
          margin: -3px 1em 0 0
          position: relative

      .wc-credit-card-form
        border: 0
        padding: 0
        margin: 1em 0 0

      .wc-credit-card-form-card-number,
      .wc-credit-card-form-card-expiry,
      .wc-credit-card-form-card-cvc
        font-size: 1.5em
        padding: 8px
        background-repeat: no-repeat
        background-position: right 0.618em center
        background-size: 32px 20px

        &.visa
          background-image: url("../../../images/woocommerce/icons/credit-cards/visa.svg")

        &.mastercard
          background-image: url("../../../images/woocommerce/icons/credit-cards/mastercard.svg")

        &.laser
          background-image: url("../../../images/woocommerce/icons/credit-cards/laser.svg")

        &.dinersclub
          background-image: url("../../../images/woocommerce/icons/credit-cards/diners.svg")

        &.maestro
          background-image: url("../../../images/woocommerce/icons/credit-cards/maestro.svg")

        &.jcb
          background-image: url("../../../images/woocommerce/icons/credit-cards/jcb.svg")

        &.amex
          background-image: url("../../../images/woocommerce/icons/credit-cards/amex.svg")

        &.discover
          background-image: url("../../../images/woocommerce/icons/credit-cards/discover.svg")

      span.help
        font-size: 0.857em
        color: $subtext
        font-weight: normal

      .form-row
        margin: 0 0 1em

      p:last-child
        margin-bottom: 0

      &::before
        content: ''
        display: block
        border: 1em solid darken($secondary, 5%)

        /* arrow size / color
        border-right-color: transparent
        border-left-color: transparent
        border-top-color: transparent
        position: absolute
        top: -0.75em
        left: 0
        margin: -1em 0 0 2em

    .payment_method_paypal
      .about_paypal
        float: right
        line-height: 52px
        font-size: 0.83em

      img
        max-height: 52px
        vertical-align: middle

.woocommerce-terms-and-conditions
  border: 1px solid rgba(0, 0, 0, 0.2)
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1)
  background: rgba(0, 0, 0, 0.05)
