/**
/** Cart sidebar
ul.cart_list,
ul.product_list_widget
  list-style: none outside
  padding: 0
  margin: 0

  li
    padding: 4px 0
    margin: 0

    +clearfix

    list-style: none

    a
      display: block
      font-weight: 700

    img
      float: right
      margin-left: 4px
      width: 32px
      height: auto
      box-shadow: none

    dl
      margin: 0
      padding-left: 1em
      border-left: 2px solid rgba(0, 0, 0, 0.1)

      +clearfix

      dt,
      dd
        display: inline-block
        float: left
        margin-bottom: 1em

      dt
        font-weight: 700
        padding: 0 0 0.25em
        margin: 0 4px 0 0
        clear: left

      dd
        padding: 0 0 0.25em

        p:last-child
          margin-bottom: 0

    .star-rating
      float: none

&.widget_shopping_cart,
.widget_shopping_cart
  .woocommerce-mini-cart__empty-message
    color: $gray-400
    text-align: center

  .total
    border-top: 3px double $secondary
    padding: 10px 0

    strong
      min-width: 40px
      display: inline-block

  .cart_list li
    position: relative
    padding: 14px 0 14px 34px
    border-bottom: 1px solid $gray-50

    a.remove
      position: absolute
      top: 50%
      left: 0
      transform: translateY(-50%)

  .buttons
    +clearfix

    a
      margin-right: 10px
      width: 48%

      &:last-of-type
        margin-right: 0
