/**
 * Forms
form .form-row
  padding: 3px
  margin: 0 0 6px

  [placeholder]:focus::-webkit-input-placeholder
    transition: opacity 0.5s 0.5s ease
    opacity: 0

  label
    line-height: 2

  label.hidden
    visibility: hidden

  label.inline
    display: inline

  select
    cursor: pointer
    margin: 0

  .required
    color: red
    font-weight: 700
    border: 0

  .input-checkbox
    display: inline
    margin: -2px 8px 0 0
    text-align: center
    vertical-align: middle

  input.input-text,
  textarea
    box-sizing: border-box
    width: 100%
    margin: 0
    outline: 0
    line-height: 1

  textarea
    height: 4em
    line-height: 1.5
    display: block
    box-shadow: none

  .select2-container
    width: 100%
    line-height: 2em

  &.woocommerce-invalid
    label
      color: $red

    .select2-container,
    input.input-text,
    select
      border-color: $red

  &.woocommerce-validated
    .select2-container,
    input.input-text,
    select
      border-color: $green - #111

  \::-webkit-input-placeholder
    line-height: normal

  \:-moz-placeholder
    line-height: normal

  \:-ms-input-placeholder
    line-height: normal

form.login,
form.checkout_coupon,
form.register
  @extend .form-control

ul#shipping_method
  list-style: none outside
  margin: 0
  padding: 0

  li
    margin: 0
    padding: 0.25em 0 0.25em 22px
    text-indent: -22px
    list-style: none outside

    input
      margin: 3px 0.5ex

    label
      display: inline

  .amount
    font-weight: 700

p.woocommerce-shipping-contents
  margin: 0
