/**
/** Layered nav widget
.widget_layered_nav ul
  margin: 0
  padding: 0
  border: 0
  list-style: none outside

  li
    +clearfix

    padding: 0 0 1px
    list-style: none

    a,
    span
      padding: 1px 0

  li.chosen a::before
    +iconbefore("")

    color: $red

.widget_layered_nav_filters ul
  margin: 0
  padding: 0
  border: 0
  list-style: none outside
  overflow: hidden
  zoom: 1

  li
    float: left
    padding: 0 1px 1px 0
    list-style: none

    a
      text-decoration: none

      &::before
        +iconbefore("")

        color: $red
