/**
/** Right to left styles
.rtl.woocommerce div.product div.images .flex-control-thumbs li
  float: right

.woocommerce-message
  border-top-color: $green
  background-color: lighten($green, 45)    

  &::before
    content: '\e015'
    color: white

.woocommerce-info
  border-top-color: $blue
  background-color: lighten($blue, 40)

  &::before
    color: white

.woocommerce-error
  border-top-color: $red
  background-color: lighten($red, 40)

  &::before
    content: '\e016'
    color: white
