
.home
  header
    position: relative
  &__header-content
    @extend .container
    width: 100%
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    text-align: left
    padding: 15px

    h1
      color: white
      text-shadow: 2px 2px 0 rgba(0,0,0,.5)
      +rem('font-size', 50px)
      +breakpoint($tablet-portrait-up)
        +rem('font-size', 80px)

    .btn__large
      width: 100%
      margin: 15px 0 0 0
      +breakpoint($tablet-portrait-up)
        width: auto

  &__header-background
    height: 80vh
    +breakpoint($tablet-portrait-up)
      min-height: 600px

  &__about
    padding: 30px 0
    background: $primary

    .container
      margin-bottom: -150px

    &__text-wrapper
      margin-top: 60px
      color: white

      p
        +rem('font-size',18px)
        margin-bottom: 15px
        line-height: 170%

      a
        color: white
        text-decoration: underline

    .facebook-feed
      display: none
      +breakpoint($tablet-landscape-up)
        display: block

  &__courses
    margin-top: 60px

    &__course
      +span(12 of 12)
      border-radius: 8px
      box-shadow: 0 5px 12px rgba(0,0,0,.2)
      height: 250px
      background-color: white
      text-indent: -9999px
      display: inline-block
      background-position: center
      background-repeat: no-repeat
      margin-bottom: 15px
      transition: all .1s ease-in-out

      &:nth-of-type(3n)
        +span(12 of 12)

        +breakpoint($tablet-portrait-up)
          +span(4 of 12 last)

      +breakpoint($tablet-portrait-up)
        +span(4 of 12)
      // +breakpoint($tablet-landscape-up)
      //   +span(33.33% no-gutter)

      &:hover
        transition: all .1s ease-in-out
        border: 4px solid lighten($blue, 50)
        box-shadow: 0 0 6px rgba(0,0,0,.2)
        height: 230px
        margin-top: 10px

      &__pro
        background-color: $dark-blue
        color: white
        text-indent: initial
        position: relative

        &__text
          position: absolute
          text-align: center
          width: 100%
          top: 50%
          transform: translateY(-50%)
          text-transform: uppercase
          +rem('font-size', 28px)
          font-family: "League Gothic","Helvetica Neue","Helvetica","Arial",sans-serif

      &__padi
        background-image: url('images/PADI-logo.png')
        background-size: 60% auto
        +breakpoint($tablet-portrait-up)
          background-size: 80% auto
      &__dan
        background-image: url('images/DAN-logo.png')
        background-size: 60% auto
        +breakpoint($tablet-portrait-up)
          background-size: 80% auto
      &__efr
        background-image: url('images/EFR-logo.png')
        background-size: auto 65%

  &__recreation
    margin-bottom: 80px


  &__team
    margin-top: 80px
    padding: 60px 0

    h2
      margin: 30px 0
      +breakpoint($tablet-portrait-up)
        +rem('font-size',54px)

    &__action-button-row
      +break
      text-align: center

    &__member
      +span(10 of 10)
      padding: 0 0 30px 0
      +breakpoint($tablet-portrait-up $tablet-landscape-up)
        +span(5 of 10)
        &:nth-child(2n+1)
          +last
      +breakpoint($tablet-landscape-up)
        +span(2 of 10)
        &:nth-child(5n+1)
          +last

      &__name
        +rem('font-size', 20px)
        font-weight: normal

      &__photo
        background: $gray-50
        img
          width: 100%
          height: auto
          border: 5px solid $gray-50
          border-radius: 5px
