/** Custom WooCommerce fonts.
@font-face
  font-family: 'star'
  src: url('fonts/star.eot')
  src: url('fonts/star.eot?#iefix') format('embedded-opentype'), url('fonts/star.woff') format('woff'), url('fonts/star.ttf') format('truetype'), url('fonts/star.svg#star') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'WooCommerce'
  src: url('fonts/WooCommerce.eot')
  src: url('fonts/WooCommerce.eot?#iefix') format('embedded-opentype'), url('fonts/WooCommerce.woff') format('woff'), url('fonts/WooCommerce.ttf') format('truetype'), url('fonts/WooCommerce.svg#WooCommerce') format('svg')
  font-weight: normal
  font-style: normal

//League Gothic
@font-face
  font-family: 'League Gothic'
  src: url('fonts/league-gothic-regular.eot')
  src: url('fonts/league-gothic-regular.eot?#iefix') format('embedded-opentype'), url('fonts/league-gothic-regular.woff') format('woff'), url('fonts/league-gothic-regular.ttf') format('truetype'), url('fonts/league-gothic-regular.svg#LeagueGothic') format('svg')
  font-weight: normal
  font-style: normal

// Proxima Nova

@font-face
  font-family: 'Proxima Nova'
  src: url('fonts/proxima-nova-regular.eot')
  src: url('fonts/proxima-nova-regular?#iefix') format('embedded-opentype'), url('fonts/proxima-nova-regular.woff') format('woff'), url('fonts/proxima-nova-regular.ttf') format('truetype'), url('fonts/proxima-nova-regular.svg#ProximaNova') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Proxima Nova'
  src: url('fonts/proxima-nova-italic.eot')
  src: url('fonts/proxima-nova-italic?#iefix') format('embedded-opentype'), url('fonts/proxima-nova-italic.woff') format('woff'), url('fonts/proxima-nova-italic.ttf') format('truetype'), url('fonts/proxima-nova-italic.svg#ProximaNovaItalic') format('svg')
  font-weight: normal
  font-style: italic

@font-face
  font-family: 'Proxima Nova'
  src: url('fonts/proxima-nova-bold.eot')
  src: url('fonts/proxima-nova-bold?#iefix') format('embedded-opentype'), url('fonts/proxima-nova-bold.woff') format('woff'), url('fonts/proxima-nova-bold.ttf') format('truetype'), url('fonts/proxima-nova-bold.svg#ProximaNovaBold') format('svg')
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'Proxima Nova'
  src: url('fonts/proxima-nova-bold-italic.eot')
  src: url('fonts/proxima-nova-bold-italic?#iefix') format('embedded-opentype'), url('fonts/proxima-nova-bold-italic.woff') format('woff'), url('fonts/proxima-nova-bold-italic.ttf') format('truetype'), url('fonts/proxima-nova-bold-italic.svg#ProximaNovaBoldItalic') format('svg')
  font-weight: bold
  font-style: italic
