.footer
  +break
  background: #fff
  background-size: cover
  position: relative
  color: $primary

  ul
    list-style: none
    margin: 0

  li
    margin: 0

  &__logo-row
    margin-top: -85px

  &__menu-item-space-above
    padding-top: 15px

  &__heading > a
    text-transform: uppercase
    font-weight: bold
    // +rem('font-size', 13px)

  &__nav-menu-column
    display: none
    +breakpoint($tablet-portrait-up)
      display: block
      padding-top: 50px
    +span(12 of 12)
    +breakpoint($tablet-landscape-up)
      +span(8 of 12)

    > ul
      display: flex

      > li
        margin: 0
        padding-right: 30px

        &:first-child
          min-width: 175px

        a
          padding: 8px 20px
          border-radius: 3px
          &:hover
            text-decoration: none
            background: rgba($primary, .2)

      > li:first-child
        padding-left: 0

      > li:last-child
        padding-right: 0

  &__copyright
    width: 100%
    color: $gray-400
    text-align: left
    padding-top: 50px
    padding-bottom: 50px
    display: block
    +rem('font-size', 14px)

  &__address-column
    +span(12 of 12)
    padding-top: 50px
    color: $primary

    li
      padding-left: 30px
      margin-bottom: 24px
      position: relative
      &::after
        position: absolute
        font-family: 'Ionicons'
        left: 0
        top: 50%
        transform: translateY(-50%)
        +rem('font-size', 24px)

      &.footer__phone::after
        content: '\f4b9'

      &.footer__address::after
        content: '\f3a3'

      &.footer__email::after
        content: '\f2eb'

    +breakpoint($tablet-landscape-up)
      +span(4 of 12 last)

  &__social-links
    &--twitter,
    &--facebook,
    &--instagram,
      border-radius: 100px
      margin: 4px
      width: 42px
      height: 42px
      color: white
      position: relative
      background: rgba(255,255,255,.3)
      +rem('font-size', 26px)

      &::before
        position: absolute
        top: 50%
        left: 50%
        transform: translateY(-50%) translateX(-50%)

      &:hover
        border: 2px solid rgba(255,255,255,.5)

    &--twitter
      background: $twitter-brand-color

    &--facebook
      background: $facebook-brand-color

    &--instagram
      background: $instagram-brand-color

    &--snapchat
      background: $snapchat-brand-color
      text-shadow: 1px 1px 0 black

    &--linkedin
      background: $linkedin-brand-color

    &--googleplus
      background: $googleplus-brand-color

    &--pinterest
      background: $pinterest-brand-color


  &__red-bar
    min-height: 135px
    margin-bottom: 80px
    width: 100%
    background: $primary
    color: white
    padding: 25px 0 30px
    +angle(after)

    h2
      text-transform: uppercase

    .subscribe-col-1
      +span(12 of 12)
      +breakpoint($tablet-landscape-up)
        +span(6 of 12)

    .subscribe-col-2
      padding-top: 30px
      +span(12 of 12)
      +breakpoint($tablet-landscape-up)
        +span(6 of 12 last)

    #mc_embed_signup #mc-embedded-subscribe-form
      .button
        @extend .btn__default
        @extend .btn__large
        width: 40%
        float: left
        padding: 0
        border-radius: 0
        background: white
        color: $primary
        height: 65px
        +breakpoint($tablet-portrait-up)
          width: 30%

      #mce-responses
        padding: 5px 10px

        a
          color: white
          padding: 4px 14px
          margin-top: 5px
          border-radius: 3px
          background: rgba(255,255,255, .3)

          &:hover
            text-decoration: none
            background: rgba(255,255,255, .2)

      .mc-field-group
        float: left
        width: 60%
        padding: 0
        margin: 0
        +breakpoint($tablet-portrait-up)
          width: 70%

        div.mce_inline_error
          color: white
          background: none

        input
          background: lighten($primary, 40)
          border-radius: 0
          border: none
          padding: 0 15px
          height: 65px
          +rem('font-size', 20px)

          &.mce_inline_error
            border: 0

          &:focus
            background: white
            box-shadow: none
            border-right: 1px solid lighten($primary, 30)

            &::placeholder
              color: $gray-400

          &::placeholder
            color: darken($primary, 15)
