.logo
  position: absolute
  background: url('images/PCBIDC-logo-text.svg') no-repeat
  background-position: center center
  background-size: contain
  width: 144px
  height: 52px
  text-indent: -9999px
  top: 50%
  transform: translateY(-50%)
  margin-left: 20px
  +breakpoint($tablet-landscape-up)
    background: url('images/PCBIDC-logo.svg') no-repeat
    width: 200px
    height: 75px
  +breakpoint($desktop-up)
    width: 220px
    height: 83px

.header
  width: 100%
  height: 135px
  transition: all .3s ease-in-out
  position: relative
  +breakpoint($tablet-portrait-up)
    height: 230px

  &__angle
    bottom: 0
    left: 0
    width: 100%
    height: 135px
    background: white
    +angle(before, $position: absolute)
    margin-bottom: -120px

.home__header-background
  background: linear-gradient(0deg, rgba($blue,1) 0%, rgba($blue,0) 33%), url('images/IDC-background.jpg')
  background-size: cover
  background-position: -600px 0
  background-repeat: none
  +breakpoint($tablet-portrait-up)
    background-position: top right

.page__header-background
  background: url('images/IDC-nav-background.jpg')
  background-size: cover
  background-position: center
  background-repeat: none
