.post-teaser, .post
  margin-top: 40px
  +breakpoint($tablet-portrait-up)
    margin-top: 0
    padding: 20px 60px

  &:last-child
    margin-bottom: 60px

  a
    color: $red

    &:hover
      text-decoration: none

  &__thumbnail
    margin: 0 -20px
    +breakpoint($tablet-portrait-up)
      margin: 0 -60px

    a
      overflow: hidden
      width: 100%

    img
      width: 100%
      height: auto

  &__meta
    a
      @extend .btn__default
      @extend .btn__secondary
      padding: 4px 10px
      margin-bottom: 20px
      +rem('font-size', 14px)
      color: $gray-600
      border-radius: 100px

      &:hover
        color: $gray-600

  &__post-date
    color: $gray-300
    letter-spacing: 2px
    +rem('font-size', 14px)

  &__header
    +rem('font-size', 24px)
    margin-top: 5px
    +breakpoint($tablet-portrait-up)
      +rem('font-size', 32px)
    a
      color: $gray-700

  &__author
    display: block
    position: relative

    img
      border-radius: 100%
      top: 50%
      left: 0
      position: absolute
      transform: translateY(-50%)


  &__excerpt p
    padding: 0

  &__bottom
    margin-top: 20px
    color: $gray-200

  &__allowed-tags
    padding: 15px
    background: $gray-50
    margin: 15px 0

.post-teaser

  p
    color: $gray-700
    padding: 10px 0
    margin: 0

  &.sticky
    border: 2px solid lighten($blue, 25)
    background: lighten($blue, 44)

    .post-teaser__meta a
      background: white

  &__author
    padding-left: 40px
    margin: 20px 0

    img
      height: 30px
      width: 30px

.post
  &__page-title
    +rem('font-size', 48px)

  &__comments
    +span(12 of 12 break)
    &__closed
      color: $gray-300
      text-align: center
      margin: 40px

  &__author
    background: $gray-50
    @extend %default-border-radius
    padding: 40px 108px
    margin-top: 30px
    overflow: auto

    img
      left: 30px
      border: 2px solid $gray-50
      @extend %default-border-radius
      margin-right: 20px

    p
      margin-top: 8px
      float: left

  .post-edit-link
    @extend .btn__default
    @extend .btn__secondary

.share-links
  padding-bottom: 20px
  a.share-links__twitter
    @extend .btn__default
    margin-top: 11px
    position: relative
    padding-left: 36px
    background: $twitter-brand-color
    color: white
    .ionicons
      position: absolute
      left: 8px
      top: 50%
      transform: translateY(-50%)
      margin-right: 5px
      +rem('font-size', 24px)

  a.share-links__facebook
    @extend .share-links__twitter
    background: $facebook-brand-color
    .ionicons
      left: 15px
