html
  font-size: 62.5%
  overflow-x: hidden

body
  color: $gray-800
  font-weight: 300
  font-family: "Proxima Nova","Open Sans","Gill Sans MT","Gill Sans",Corbel,Arial,sans-serif
  +rem('font-size', 16px)

strong
  font-weight: bold

h1, h2, h3
  font-family: "League Gothic","Helvetica Neue","Helvetica","Arial",sans-serif
  font-weight: normal

h1, h2, h3, h4, h5, h6
  line-height: 120%
  margin-bottom: .3em
  margin-top: .6em

  &.page-title
    margin-top: 0
    margin-bottom: .2em

h1
  +rem('font-size', 42px)
  text-transform: uppercase
  +breakpoint($tablet-portrait-up)
    +rem('font-size', 72px)

h2
  +rem('font-size', 38px)
  text-transform: uppercase
  +breakpoint($tablet-portrait-up)
    +rem('font-size', 42px)

h3
  text-transform: uppercase
  +rem('font-size', 32px)

h4
  +rem('font-size', 26px)

h5
  +rem('font-size', 22px)

h6
  +rem('font-size', 20px)

p
  line-height: 160%

.content
  +rem('font-size', 18px)

  p
    margin-bottom: 1em

  ul
    list-style: circle

  ol
    list-style: decimal

  ol, ul
    margin: 10px 0px 10px 20px

  li
    margin: 15px 0

blockquote
  +rem('font-size', 18px)
  color: $gray-500
  font-style: italic
  position: relative
  margin: 10px 0
  padding-left: 10px
  border-left: 5px solid $gray-50
  +breakpoint($tablet-portrait-up)
    margin: 10px 25px
    padding-left: 10px

code
  +rem('font-size', 18px)
  font-family: monospace

.text
  &__center
    text-align: center
  &__left
    text-align: left
  &__right
    text-align: right

  &__color
    &__red
      color: $red
