.text
  &__center
    text-align: center
  &__left
    text-align: left
  &__right
    text-align: right

  &__color
    &__red
      color: $red

.background__color__gray
  color: white
  background: $gray


  .wpcf7
    .ajax-loader
      background-image: url('images/ajax-loader.gif')
      width: 30px
      height: 30px

  h3::before
    display: none

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  textarea,
  .form-control
    background: $gray-300
    border-radius: 0
    border: none
    padding: 15px
    +rem('font-size', 20px)

    &.mce_inline_error
      border: 0

    &:focus
      border: none
      background: white
      box-shadow: none

      &::placeholder
        color: $gray-500

    &::placeholder
      color: $gray-900
