.widget
  margin-bottom: 30px
  .widget-title, h3
    +rem('font-size', 22px)
    letter-spacing: 1px
    text-transform: uppercase
    &::before
      content: '// '
      color: $red

  &.widget_archives,
  &.widget_categories
    ul
      list-style: none
      margin: 0

      li a
        display: block
        border-bottom: 1px dotted $gray-200
        position: relative
        z-index: 0
        margin: 0
        width: 100%
        display: block
        padding: 10px 20px
        font-weight: 700
        color: $gray-400
        text-decoration: none

  &.widget_pages,
  &.widget_nav_menu
    ul
      list-style: none
      margin: 0

      li a
        display: block
        border-bottom: 1px dotted $gray-200
        position: relative
        z-index: 0
        margin: 0
        width: 100%
        display: block
        padding: 20px 20px
        font-weight: 700
        color: $gray-600
        text-decoration: none

  &.widget_calendar
    caption
      padding: 20px 0
      font-weight: bold
      color: $gray
    table
      width: 100%
      height: 250px
      text-align: center

  &.widget_product_search
    input[type="search"]
      width: 65%
      margin-right: 5px

    input[type="submit"]
      width: 30%
  // .widget_calendar
  // .widget_categories
  // .widgets_nav_menu
  // .widget_pages
