.responsive-menu
  position: fixed
  right: -260px
  top: 0
  display: block
  width: 260px
  background: $gray-900
  height: 100%
  z-index: 2000
  overflow-y: scroll
  +rem('font-size', 16px)
  transition: all .3s ease-in-out
  padding: 20px 0

  .menu-column
    +span(12 of 12)

  &.active
    right: 0
    transition: all .3s ease-in-out
    +breakpoint($tablet-landscape-up)
      display: none

  .menu-item-has-children > a
    font-weight: bold
    text-transform: uppercase
    margin-top: 10px

  &__heading
    + .menu-item-has-children
      > a
        margin-top: 0
        font-weight: normal
        text-transform: none
    > a
      font-weight: bold
      text-transform: uppercase
      margin-top: 25px

  ul
    list-style: none
    margin: 0

  li
    margin: 0
    + .menu-item-has-children
      margin-bottom: 20px

    a
      padding: 8px 30px
      color: white
      display: block

      &:hover
        text-decoration: none

    li
      font-weight: normal

  .button.red
    background: rgba(255,255,255,.3)
    margin: 10px 40px
    text-align: center
    padding: 8px 0
    box-shadow: 0 0 0
    border: 1px solid white

.pushed
  left: -260px
  transition: all .3s ease-in-out
  +breakpoint($tablet-landscape-up)
    left: 0

.menu-open
  overflow: hidden
  +breakpoint($tablet-landscape-up)
    overflow: visible
