.post-nav
  +span(12 of 12)
  overflow: auto
  margin: 20px 0

  .prev-posts
    float: left
    display: inline-block

  .next-posts
    float: right
    display: inline-block

  .prev-posts,
  .next-posts
    a
      @extend .btn__default
      @extend .btn__primary
