$menu-hover-color: lighten($yellow, 20)

.top-nav
  position: fixed
  z-index: 100
  width: 100%
  height: 67px
  background: white
  padding: 0
  box-shadow: 0 3px 4px rgba(0,0,0,.2)
  +breakpoint($tablet-portrait-up)

  +breakpoint($tablet-landscape-up)
    box-shadow: 0 3px 4px rgba(0,0,0,0)
    margin-top: 0
    position: relative
    background: transparent
    height: auto
    z-index: auto
  .container
    height: 100%

.menu-toggle
  display: block
  position: absolute
  top: 0
  right: 0
  +rem('font-size',24px)
  cursor: pointer
  color: $gray-800
  transition: all .1s ease-in-out
  padding: 21px 20px 18px 20px

  &.active
    transition: all .1s ease-in-out
    color: $blue

  +breakpoint($tablet-landscape-up)
    display: none

.primary-nav
  display: none
  +breakpoint($tablet-landscape-up)
    display: flex
    justify-content: space-evenly
    width: 100%
    padding: 0 0 0 20%
    margin: 0
    text-align: right
    list-style: none

  .current-menu-item, .current-menu-ancestor
    > a
      color: $secondary
      font-weight: bold

  .nav-external-link
    > a:after
      font-family: "Ionicons"
      content: '\f220'
      +rem('font-size', 18px)
      opacity: .8
      margin-left: 8px
      display: inline-block

  .nav-button
    padding: 8px !important

    a
      @extend .btn__primary
      text-align: center
      border-radius: 4px

  > li
    text-align: center
    margin: 0
    position: relative

    &:first-child
      margin-left: 40px

    &.menu-item-has-children
      > a:after
        font-family: "Ionicons"
        content: '\f123'
        +rem('font-size', 10px)
        opacity: .5
        margin-left: 8px
        display: inline-block

      &:hover
        background-color: white

        a
          color: $gray-900

        .sub-menu
          display: block

    &.mega-menu.menu-item-has-children
      &:hover
        .sub-menu
          display: flex

      > .sub-menu
        display: none

        > .current-menu-item
          > a
            color: $red
            font-weight: bold

        .mega-menu-header
          > a
            text-transform: uppercase
            font-weight: bold
            &:hover
              background-color: $menu-hover-color


        .sub-menu
          padding: 0
          margin: 0
          top: auto
          list-style: none
          background: transparent
          position: relative
          display: inline-block

          li
            margin: 0
            padding: 0
    > a
      +rem('font-size', 16px)
      color: #fff
      text-decoration: none
      position: relative
      padding: 56px 10px
      +breakpoint($desktop-up)
        padding: 56px 20px


    > .sub-menu
      position: absolute
      background: white
      min-width: 180px
      text-align: left
      left: 50%
      margin: 0 0 20px 0
      top: 70%
      transform: translateX(-50%)
      list-style-type: none
      padding: 10px 0
      z-index: 20
      display: none
      box-shadow: 0 3px 4px rgba(0,0,0,.2)

      .current-menu-item > a
        color: $red
        font-weight: bold

      li
        position: relative

        a
          font-weight: normal
          text-transform: none
          color: $gray-900
          padding: 10px 30px
          width: 100%
          position: relative
          white-space: nowrap

          &:hover
            text-decoration: none
            background: $menu-hover-color
