.secondary-top-nav
  display: none

  +breakpoint($tablet-portrait-up)
    display: block
    position: fixed
    z-index: 200
    background-color: $dark-blue
    width: 100%
    height: 33px
    text-align: left

  +breakpoint($tablet-landscape-up)
    position: relative

  .secondary-nav
    margin: 0
    text-align: right
    display: inline-block
    margin-right: 15px
    text-transform: uppercase
    +rem('font-size', 14px)

    li
      padding: 0
      margin: 0
      list-style: none
      display: inline-block

      a
        padding: 8px 20px
        color: white

        &:hover
          background-color: lighten($dark-blue, 10)
          text-decoration: none
